<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- <ion-input placeholder="Enter a value" [(ngModel)]="test"></ion-input> -->
    <ion-button (click)="updateValue()">GO!</ion-button>
    <ion-badge>{{test}}</ion-badge>
  </div>
</ion-content>
